Repository Srimathij/Indra_Bot, pull requests merged in 2021-03, with the labels that each got.

#15 Added Contributor
  README.md
Labels: :arrow_down: markdown, Level0, Status: Accepted :heavy_check_mark:, documentation, gssoc21

#19 Add MIT License
  LICENSE
Labels: :arrow_down: markdown, Level0, Status: Accepted :heavy_check_mark:, documentation, gssoc21

#18 Tech stack
  README.md
Labels: :arrow_down: markdown, Level0, Status: Accepted :heavy_check_mark:, documentation, gssoc21

#20 Update README.md
  README.md
Labels: :arrow_down: markdown, Level0, Status: Awaiting :vertical_traffic_light:, documentation, gssoc21

#25 Updated some features in the chatbot
  End.json
  README.md
  index.html
  index.json
Labels: JSON, Level2, Status: Accepted :heavy_check_mark:, documentation, gssoc21, html

#27 Refractored Website
  index.html
  style.css
Labels: Level2, Status: Accepted :heavy_check_mark:, css, gssoc21, html

#26 Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: Level0, Status: Accepted :heavy_check_mark:, documentation, gssoc21, markdown

#29 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: markdown

#30 Added auto label for issues
  .github/ISSUE_TEMPLATE/dialogflow-related--json-.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/website-ui.md
  .github/workflows/issue_label.yml
Labels: Level1, Status: Awaiting :vertical_traffic_light:, ci/cd, documentation, gssoc21

#32 Added Greeting Bot
  .github/config.yml
Labels: Level0, Status: Accepted :heavy_check_mark:, ci/cd, gssoc21

#37 Added about page
  about.html
  index.html
  style.css
Labels: Level2, Status: Accepted :heavy_check_mark:, css, gssoc21, html

#42 Added code for Text to Speech Converter
  Text to Speech/readme.md
  Text to Speech/text_to_speech.py
Labels: Level2, Status: Accepted :heavy_check_mark:, enhancement, gssoc21

#41 Fixed nav bar and logo and updated the website responsiveness
  about.html
  index.html
  style.css
Labels: Level2, Status: Accepted :heavy_check_mark:, css, enhancement, gssoc21, html
