Repository Srimathij/Indra_Bot, pull requests merged in 2021-04, with the labels that each got.

#24 Database Connectivity
  DatabaseConnection/CredentialHelper.py
  DatabaseConnection/__init__.py
  DatabaseConnection/agentMain.py
  DatabaseConnection/firebasecontroller.py
  DatabaseConnection/readme.md
Labels: Level3, Status: Accepted :heavy_check_mark:, enhancement, gssoc21, help wanted

#47 feedback form
  form.html
  index.html
  style.css
Labels: Level2, Status: Accepted :heavy_check_mark:, css, enhancement, gssoc21, html

#52 favicon added
  about.html
  favicon.png
  form.html
  index.html
Labels: Level0, Status: Accepted :heavy_check_mark:, css, gssoc21, html

#53 correction in DatabaseConnection/Readme
  DatabaseConnection/readme.md
Labels: Level0, Status: Accepted :heavy_check_mark:, good first issue, gssoc21, markdown

#51 correction in Readme
  README.md
Labels: Level0, Status: Accepted :heavy_check_mark:, gssoc21, markdown

#58 update contributing.md
  CONTRIBUTING.md
Labels: Level1, Status: Accepted :heavy_check_mark:, gssoc21, markdown

#60 Readme file modified issue #55 solved
  README.md
Labels: Level1, Status: Accepted :heavy_check_mark:, gssoc21, markdown

#62 Solved bugs in documentation
  README.md
Labels: Level0, Status: Accepted :heavy_check_mark:, documentation, gssoc21, markdown

#59 Improved the form page
  style.css
Labels: Level2, Status: Accepted :heavy_check_mark:, css, gssoc21
